<div>
  <form action="/answer">
    <label for="question" class="form-label mb-0"><p>Ask your coach anything :</p></label>
    <div class="col-auto">
      <input type="text" name="question" id="question">
      <input type="submit" value="Ask" class="ask-btn">
    </div>
  </form>
</div>
